#
# Files for git to ignore
#
# emacs backup files
*~
# vim working files
*.swp
# ignore all build artifacts
build/
# ignore eclipse build artifacts
bin/
# ignore MacOSX Desktop Services Store files...
.DS_Store
# Ignore anything stowed in a tmp directory
tmp/
