#
# Files for git to ignore
#
# emacs backup files
*~
# vim working files
*.swp
# ignore all build artifacts
build/
# ignore eclipse build artifacts
bin/
war/WEB-INF/classes/com/
.apt_generated/
# ignore eclipse settings
.settings/
.factorypath
# ignore GAE DevKit artifacts
local_db.bin
# ignore MacOSX Desktop Services Store files...
.DS_Store
# Ignore anything stowed in a tmp directory
tmp/
